.sidebar-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #2c3e50;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

.settings-panel-container {
    margin-left: 270px; /* To create space for the sidebar */
    padding: 20px;
    width: calc(100% - 270px); /* Adjust the width according to the sidebar */
}

/* Styling for the table */
.styled-table {
    width: 98%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Header styling */
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

/* Body row styling */
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* Alternate row color for better readability */
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Hover effect on rows */
.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Cell padding */
.styled-table td, .styled-table th {
    padding: 12px 15px;
}

/* Last row bottom border */
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.login-page-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-form button:hover {
    background-color: #45a049;
}

.settings-panel-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    height: 90%;
    text-align: left;
}

.settings-panel-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.settings-panel-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 18%;
}

.settings-panel-form button:hover {
    background-color: #45a049;
}