<!DOCTYPE html>
<html lang="ru">
<div class="sidebar-container">
    <!-- Sidebar Menu -->
    <nav class="sidebar">
        <ul>
            <li><a href="/home">Dashboard</a></li>
        </ul>
    </nav>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Панель управления</title>
        <link rel="stylesheet" href="../static/css/styles.css" type="text/css">
        <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Check for token in localStorage
            const token = localStorage.getItem('authToken');
            if (!token) {
                // If token is missing, redirect to login page
                alert('Токен не найден! Выполните авторизацию.');
                window.location.href = '/login'; // Redirect to login page
            } else {
                // Optionally, you can validate the token further, like checking its expiry
                console.log('Токен найден:', token);
            }
        });





        </script>
    </head>
    <body>
    </body>
    <div class="settings-panel-container">
        <h1>Панель управления</h1>

        <div class="table-container">
            <h2>Drones</h2>
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Порт</th>
                    <th>Сер. номер</th>
                    <th>Миссия</th>
                    <th>Время создания</th>
                </tr>
                </thead>
                <tbody>
                {% for drone in drones %}
                <tr>
                    <td><a href="/drones/{{ drone.id }}">{{ drone.id }}</a></td>
                    <td>{{ drone.port }}</td>
                    <td>{{ drone.serial_number }}</td>
                    <td>{{ drone.mission }}</td>
                    <td>{{ drone.timestamp }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <form class="settings-panel-form" action="/drones/add" method="GET">
                <button type="submit">Добавить дрон</button>
            </form>
        </div>
    </div>
</div>
<script>
</script>
</html>